/*-----------------------------------*/
/*01RESET*/
/*-----------------------------------*/
*, *::before, *::after{
    box-sizing: border-box; 
}

*{
    margin: 0; 
    padding: 0; 
}

ul[role='list'], ol[role='list']{
    list-style: none; 
}

html:focus-within{
    scroll-behavior: smooth; 
}

a:not([class]){
    text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
    max-width: 100%;
    height: auto; 
    vertical-align: middle; 
    font-style: italic; 
    background-repeat: no-repeat; 
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}
body, html{
    height: 100%; 
    scroll-behavior: smooth; 
}
/*-----------------------------------*/
/*02-FONTS*/
/*-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');

/*-----------------------------------*/
/*03-VARIABLES*/
/*-----------------------------------*/
:root {
    --color-1: #fff9;
    --color-2: #0009;
    --color-3: rgba(86, 190, 238, 0.336);
    --font-bd: 'Danfo', sans-serif ;
}
/*-----------------------------------*/
/*04-GENERAL*/
/*-----------------------------------*/
body{
    align-items: center;
    color: var(--color-2);
    display:flex;
    font-family: var(--font-bd);
    display: flex;
    justify-content: center;
    align-items: center;
    main {
        header{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.6rem;
            flex-direction: column;
            h1 {
                font-family: var(--font-bd);
                font-size: 3rem;
                font-weight: 700; 
                display: flex;
                align-items: center;
                gap: 0.6rem;
                span {
                 border-radius: 50px;
                 background-color: var(--color-2);
                 color: var(--color-1);
                 font-size: 1.4rem;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 padding: 8px 16px;
                }
            }
            h2 {
                font-size: 1.4rem;
                  font-weight: 600;

              }
              h3 {
                font-size: 1rem;
                font-weight: 400;
                border-radius: 50px;
                background-color: var(--color-2);
                color: var(--color-1);
                padding: 8px 16px;


              }
              img {
                  border-radius: 50%;
                  border: 10px solid var(--color-3);
                  height: 200px;
                  object-fit: cover;
                  width: 200px;
              }
         }
         menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            justify-content: center;
            gap: 1rem;
            a:is(:link, :visited) {
                border-radius: 50px;
                background-color: var(--color-1);
                color: var(--color-2);
                display: flex;
                padding: 0.61 rem;
                text-decoration: none;
                transition: all 0.4s ease-in;
                gap: 0.6rem;
                width: 240px;
            
    
            

            }
            a:is(:hover) {
                background-color: #fff;
                transform: scale(1.05) translateY(-4PX);
            }     
            span{
                border-radius: 20px;
                background-color: var(--coolor-2);
                color: var(--color-2);
                font-weight: 600;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
        
            }      
        
         }
    }
}
/*-----------------------------------*/
/*05-MAIN MENU*/
/*-----------------------------------*/
body.main-menu {
   
    background-image: url("../images/monkey-d-luffy-clouds-one-piece-desktop-wallpaper-preview.jpg");
    background-position: left center;
    background-repeat: no-repeat; 
background-attachment: fixed;
background-size: cover;
}